body { 
    background-color: lightGrey; 
}

table, th, td, tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 25%;     
}

th {
    background: #ffbb00;
}​

table tr:last-child { 
    border-bottom: none; 
}

.error {
	color: red;
}