<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>BOEK DETAIL</h1>
	<table>
		<tr>
			<td>Naam</td>
			<td th:text="${boek.naam}"></td>
		</tr>
		<tr>
			<td>ISBN Nummer</td>
			<td th:text="${boek.isbnNummer}"></td>
		</tr>
		<tr>
			<td>Aantal sterren</td>
			<td th:text="${boek.aantalSterren}"></td>
		</tr>
		<tr>
			<td>Aankoopprijs</td>
			<td th:text="${boek.aankoopprijs}"></td>
		</tr>
	</table>
	
	<br>
	<p>AUTEURS:</p>
	<ul th:each="auteur: ${lijstAuteurs}" >
		<li th:text="|${auteur.naam} ${auteur.voornaam}|"></li>
	</ul>	
	<p>LOCATIES:</p>
	<ul th:each="locatie: ${lijstLocaties}" >
		<li th:text="|${locatie.plaatscode1} - ${locatie.plaatscode2} - ${locatie.plaatsnaam}|"></li>
	</ul>
	
	<br>
	
	<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
		<div th:if="${!lijstFavorieten.contains(boek)}">
			<form th:action="@{/boek/__${boek.id}__}" th:object="${boek}" method="post">
				<button type="submit">Maak favoriet</button>
			</form>
		</div>
		<div th:if="${lijstFavorieten.contains(boek)}">
			<form>
				<button type="submit">Verwijder favoriet</button>
			</form>
		</div>
	</th:block>
	
</body>
</html>