<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Voeg een boek toe</h1>
	
	<form method="post">
	    <p>
	        <label>Boek naam:</label>
	        <input type="text" placeholder="naam" size="20"/>
	    </p>
	    <p>
	        <label>ISBN nummer:</label>
	        <input type="text" placeholder="isbn" size="20"/>
	    </p>
	    <p>
	        <label>Aankoopprijs:</label>
	        <input type="text" placeholder="aankoopprijs" size="20"/>
	    </p>
	    <p>
	        <label>Auteurs:</label>
	        <input type="text" placeholder="TODO" size="20"/>
	    </p>
	    <p>
	        <label>Locaties:</label>
	        <input type="text" placeholder="TODO" size="20"/>
	    </p>
    </form>
</body>
</html>