<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Voeg een boek toe</h1>

	<form th:action="@{/voeg-boek-toe}" th:object="${boek}" method="POST">

   		<label>Boek naam:</label>
   		<input type="text" th:field="*{naam}" />
   		<span th:if="${#fields.hasErrors('naam')}" th:errorclass="error" th:errors="*{naam}"></span>
   		
   		<br>

        <label>ISBN nummer:</label>
        <input type="text" th:field="*{isbnNummer}" />
        <span th:if="${#fields.hasErrors('isbnNummer')}" th:errorclass="error" th:errors="*{isbnNummer}"></span>
        
        <br>

        <label>Aankoopprijs:</label>
        <input type="text" th:field="*{aankoopprijs}" />
    	<span th:if="${#fields.hasErrors('aankoopprijs')}" th:errorclass="error" th:errors="*{aankoopprijs}"></span>
    	
    	<br>

        <label>Auteurs:</label>
        <div>
  			<span th:if="${#fields.hasErrors('auteurs')}" th:errorclass="error" th:errors="*{auteurs}"></span>
  		</div>
        <div th:each="auteur : ${auteurs}">
		    <label>
				<input type="checkbox" th:field="*{auteurs}" th:value="${auteur.id}" /> 
				<span th:text="|${auteur.auteurNaam} ${auteur.voornaam}|"></span>
		    </label>
  		</div>
  		
  		<label>Locaties:</label>
        <div>
  			<span th:if="${#fields.hasErrors('locaties')}" th:errorclass="error" th:errors="*{locaties}"></span>
  		</div>
        <div th:each="locatie : ${locaties}">
		    <label>
				<input type="checkbox" th:field="*{locaties}" th:value="${locatie.id}" /> 
				<span th:text="|${locatie.plaatscode1} - ${locatie.plaatscode2} - ${locatie.plaatsnaam}|"></span>
		    </label>
  		</div>
  		
	    <button class="btn btn-primary" type="submit">Voeg toe</button>
	    
	    <div th:if="${errorBoekBestaat}">
  			<p th:text="${errorBoekBestaat}"></p>
		</div>
   	</form>
   	
   	<hr />

    <h1>Voeg nieuwe auteur toe</h1>
    <form th:action="@{/voeg-auteur-toe}" th:object="${auteur}" method="post">
		<label for="auteurNaam">Naam:</label>
        <input type="text" th:field="*{auteurNaam}" />
        <span th:if="${#fields.hasErrors('auteurNaam')}" th:errorclass="error" th:errors="*{auteurNaam}"></span>
        
        <br>

        <label for="voornaam">Voornaam:</label>
        <input type="text" th:field="*{voornaam}" />
        <span th:if="${#fields.hasErrors('voornaam')}" th:errorclass="error" th:errors="*{voornaam}"></span>
        
        <br>

        <input type="submit" value="Voeg auteur toe" />
        
        <div th:if="${errorAuteurBestaat}">
  			<p th:text="${errorAuteurBestaat}"></p>
		</div>
    </form>
    
    <hr />

    <h1>Voeg nieuwe locatie toe</h1>
    <form th:action="@{/voeg-locatie-toe}" th:object="${locatie}" method="post">
        <label for="plaatscode1">Plaatscode 1:</label>
        <input type="text" th:field="*{plaatscode1}" />
        <span th:if="${#fields.hasErrors('plaatscode1')}" th:errorclass="error" th:errors="*{plaatscode1}"></span>
        
        <br>

        <label for="plaatscode2">Plaatscode 2:</label>
        <input type="text" th:field="*{plaatscode2}" />
        <span th:if="${#fields.hasErrors('plaatscode2')}" th:errorclass="error" th:errors="*{plaatscode2}"></span>
        
        <br>
        
        <label for="plaatsnaam">Plaatsnaam:</label>
        <input type="text" th:field="*{plaatsnaam}" />
        <span th:if="${#fields.hasErrors('plaatsnaam')}" th:errorclass="error" th:errors="*{plaatsnaam}"></span>
        
        <br>

        <input type="submit" value="Voeg locatie toe" />
        
        <div th:if="${errorLocatieBestaat}">
  			<p th:text="${errorLocatieBestaat}"></p>
		</div>
		<div th:if="${errorVerschilCodes}">
  			<p th:text="${errorVerschilCodes}"></p>
		</div>
    </form>
    
    <hr />
    
    <a class="btn btn-warning" th:href="@{/bibliotheek}">Terug naar home</a>
    
    <hr />
    
    <form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" /> 
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
</body>
</html>