<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Voeg een boek toe</h1>
	

	<form th:action="@{/voegBoekToe/save}" th:object="${boek}" method="post">
	  	<div class="form-group">
    		<label>Boek naam:</label>
    		<input type="text" th:field="*{naam}" class="form-control" placeholder="naam" />
  		</div>
	    <div class="form-group">
	        <label>ISBN nummer:</label>
	        <input type="text" th:field="*{isbnNummer}" class="form-control" placeholder="isbn" />
	    </div>
	    <div class="form-group">
	        <label>Aankoopprijs:</label>
	        <input type="text" th:field="*{aankoopprijs}" class="form-control" placeholder="aankoopprijs" />
	    </div>
	    <div class="form-group">
		    <label>Auteurs:</label>
		    <select class="form-control" >
				<option th:each="auteur: ${auteurList}" th:value="${auteur}" th:text="|${auteur.naam} ${auteur.voornaam}|"></option>
		    </select>
		</div>
	    <div class="form-group">
		    <label>Locaties:</label>
		    <select class="form-control" >
				<option th:each="locatie: ${locatieList}" th:value="${locatie}" th:text="|${locatie.plaatscode1} - ${locatie.plaatscode2} - ${locatie.plaatsnaam}|"></option>
		    </select>
		</div>
	    <button class="btn btn-primary" type="submit">Voeg toe</button>
   	</form>
   	
   	<form th:action="@{/voegAuteurToe/save}" th:object="${auteur}" method="post">
   		<div class="form-group">
    		<label>Naam auteur:</label>
    		<input type="text" th:field="*{naam}" class="form-control" placeholder="naam" />
  		</div>
	    <div class="form-group">
	        <label>Voornaam auteur:</label>
	        <input type="text" th:field="*{voornaam}" class="form-control" placeholder="voornaam" />
	    </div>
	    <button class="btn btn-primary" type="submit">Voeg auteur toe</button>
   	</form>
   	
   	<form th:action="@{/voegLocatieToe/save}" th:object="${locatie}" method="post">
   		<div class="form-group">
    		<label>Plaatscode 1:</label>
    		<input type="text" th:field="*{plaatscode1}" class="form-control" placeholder="plaatscode 1" />
  		</div>
	    <div class="form-group">
    		<label>Plaatscode 2:</label>
    		<input type="text" th:field="*{plaatscode2}" class="form-control" placeholder="plaatscode 2" />
  		</div>
  		<div class="form-group">
    		<label>Plaatsnaam:</label>
    		<input type="text" th:field="*{plaatsnaam}" class="form-control" placeholder="plaatsnaam" />
  		</div>
	    <button class="btn btn-primary" type="submit">Voeg locatie toe</button>
   	</form>

</body>
</html>